html{
    box-sizing: border-box;
}
*,*::after,*::before{
    box-sizing: inherit;
}
/* скидання дефолтних стилів */
h1,
h2,
h3,
p{
    margin-top: 0;
    margin-bottom: 0;
  
}
ul,
ol{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img{
    display: block;
} 
    

/* основні кольори тексту ,фону,виділення */
:root {
    --primary-color-text: #434455;
    --secondary-color-text: #2E2F42;
    --normal-color: #4D5AE5;
    --active-color:#404BBF;
}
/* основні властивості тексту */
body {
    font-family: 'Roboto',sans-serif;
   color: var(--primary-color-text);
   background-color: #FFFFFF;
 
}
/*------ header--------- */
.header {
/* CORNFLOWER */
border-bottom: 1px solid #E7E9FC;
padding-top: 24px;
    padding-bottom: 24px;
}

.container-header{
    width: 1158px;
    padding: 0 15px;
    margin: 0 156px;
    display: flex;
    align-items: center;

}
/* navigation */
.nav{
   display: flex;
   align-items: center;
}

/* LOGO */
 .logo-link-light-theme{
    text-decoration: none;
}
.logo-link-light-theme {
    font-family: 'Raleway', sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.33;
/* identical to box height, or 133% */
letter-spacing: 0.03em;
    color: var(--normal-color);
    text-transform: uppercase;
    
}

 .style{
    color: var(--secondary-color-text);
}
.list-link{
    list-style: none;
    display: flex;
    align-items: center;
    margin-left: 76px;

} 
.list-link .item:not(:last-child){
    margin-right: 40px;
}

.list-link .list-link-item{
    font-weight: 500;
font-size: 16px;
line-height: 1.5;
/* identical to box height, or 150% */
letter-spacing: 0.02em;
color: var(--secondary-color-text)
}
.list-link-item:hover,
.list-link-item:focus{
    color: var( --active-color);
}
.list-link-item{   
text-decoration: none;
}




.list-contacts{
    list-style: none;
    display: flex;
    align-items: center;
    margin-left: auto;
}
.list-contacts :hover{
    color: var( --active-color);
}

.list-contacts :focus{
    color: var( --active-color);
}
.list-contacts-mail {
    text-decoration: none;   
font-size: 16px;
line-height: 1.5;
/* identical to box height, or 150% */
 letter-spacing: 0.02em;
color: var(--primary-color-text);
}

.list-item-phone{
    margin-left: 40px;
}

.list-contacts-phone-number {
    

    text-decoration: none;
font-size: 16px;
line-height: 1.5;
/* identical to box height, or 150% */
 letter-spacing: 0.02em;
color: var(--primary-color-text);


}

/* -------section hero-------- */
.hero {
    background-color: var(--secondary-color-text);
    text-align: center;
    width: 1440px;
    padding-top: 188px;
    padding-bottom: 188px;

}
 .container-hero{
   
    margin: 0px 473px;
    padding: 0px 15px;
   
 }
/* ----------Заголовок------- */
.main-title {
font-weight: 700;
font-size: 56px;
line-height: 1.07em;
/* or 107% */

letter-spacing: 0.02em;

color: #FFFFFF;
margin-bottom: 48px;

}


.modal-button{
    border: none;
    width: 169px;
    height: 56px;
    font-family: inherit;
    background: var( --normal-color);
    font-weight: 500;
font-size: 16px;
line-height: 1.5;
/* identical to box height, or 150% */

letter-spacing: 0.04em;

color: #FFFFFF;
border-radius: 4px;
}

.modal-button:hover,
.modal-button:focus{
    background-color: var( --active-color);
}
.modal-button{
    cursor: pointer;
}

h2, h3{
    color: var(--secondary-color-text);
}
/* --------section----- */
.skills{
padding: 120px 0

}
.container-skills{
    display: flex;
    width: 1158px;
padding: 0 15px;
margin: 0 141px;
}
.visually-hidden {
        position: absolute;
          white-space: nowrap;
          width: 1px;
          height: 1px;
          overflow: hidden;
          border: 0;
          padding: 0;
          clip: rect(0 0 0 0);
          clip-path: inset(50%);
          margin: -1px;
      } 

.menu-skills {
    list-style: none;
    display: flex;
   
}


.menu-skills-suptitle {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
/* identical to box height, or 120% */


margin-bottom: 8px;
letter-spacing: 0.02em;
}
.skill-description {
font-size: 16px;
line-height: 1.2;
/* or 150% */

letter-spacing: 0.02em;
} 
.menu-skills-item:not(:last-child){
    margin-right: 24px;
       
}

/* --------section------ */
.photos-work{
   
    padding-bottom: 120px;
   
}
.container-photos-work{
   width: 1128px;
padding: 0 15px;
margin: 0 156px;

}

.photos-work-title {
font-weight: 700;
font-size: 36px;
line-height: 1.1;
/* identical to box height, or 111% */

margin-bottom: 72px;
text-align: center;
letter-spacing: 0.02em;
}
.list-photo-work{
    list-style: none;
   display: flex; 
   
}
.illustraition:not(:last-child){
    margin-right: 24px;
}

/* -------section--------- */
.team-card{

    padding: 120px 0;

    background: #F4F4FD;
  
}
.container-team-card{
   
    width: 1440px;

}

.team-card-title {
font-weight: 700;
font-size: 36px;
line-height: 1.1;
/* identical to box height, or 111% */

text-align: center;
letter-spacing: 0.02em;
}

.list-team-card{
    list-style: none;
    display: flex;
   
    margin-top: 72px;
} 
.container-list-team-card{
    display: flex;
    padding: 0 15px;
   
    margin:0 156px;
}
.personal-photo{
    background: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
}
.personal-photo:not(:last-child){
margin-right: 24px;
}
.name {
font-weight: 500;
font-size: 20px;
line-height:1.2;
/* identical to box height, or 120% */

margin-top: 32px;
margin-bottom: 8px;

text-align: center;
letter-spacing: 0.02em;
}
.profession-name {
font-size: 16px;
line-height: 1.5;
/* identical to box height, or 150% */

text-align: center;
letter-spacing: 0.02em;

padding-bottom: 32px;
}

/* css для portfolio.html */


.gellery{
    padding-top: 96px;
    padding-bottom: 120px;
}

.container-section{
   
    
padding: 0 15px;
margin: 0 156px;
width: 1158px;
}

.list-button{
   width: 600px;
   list-style: none;
   margin-left: auto;
   margin-right: auto;
   
}

.list-button{
    display: flex;
    align-items: center;
    margin-bottom: 72px;
}

.list-button-item:not(:last-child){
margin-right: 24px;
}

.button{
border: none;
/* CLOUD */

background: #F4F4FD;
/* CORNFLOWER */
font-family: 'Roboto',sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
/* identical to box height, or 150% */

align-items: center;
text-align: center;
letter-spacing: 0.04em;

/* IRIS */
color:var(--normal-color);
}
.button{
    
    display: inline-block;
    padding: 12px 24px;
    border-radius: 4px ;
    cursor: pointer;
}
.button:hover,
.button:focus{
    /* OCEAN */
    
    background:var(--active-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    /* identical to box height, or 150% */
    
    text-align: center;
    letter-spacing: 0.04em;
    
    color: #FFFFFF;
}

.list-projects{
 
   display: flex;
    flex-wrap: wrap;
    
    
}
.link-project{
    text-decoration: none;
}


.project-card:not(:nth-child(3n)){
margin-right: 24px;
}

.project-card{
    display: flex;   
    margin-bottom: 48px;
}

.project-card{
    
    width: 360px;
    height: 420px;
    background: #FFFFFF;
     
}
.container-border{
   
    padding-top: 32px ;
    padding-bottom: 32px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 0px 0px 4px 4px; 
    border-left: 1px solid #E7E9FC; 
    border-right: 1px solid #E7E9FC;
    border-bottom: 1px solid #E7E9FC;
}

.list-projects-title{

font-weight: 500;
font-size: 20px;
line-height: 1.2;
/* identical to box height, or 120% */
letter-spacing: 0.02em;



}
.text{

margin-top: 8px;


font-weight: 400;
font-size: 16px;
line-height: 1.5;
/* identical to box height, or 150% */

letter-spacing: 0.02em;
    
    /* NAVY BLUE */
    
    color: var(--primary-color-text)
}

/* ---footer---- */
.footer {
    background-color:  var(--secondary-color-text);
  padding: 100px 0;
    
}

.container-footer{
   width: 1158px; 
  
   padding: 0 15px;
   margin-right: auto;
   margin-left: 156px;
}


    
 

.logo-link-dark-theme {
    text-decoration: none;
}
 .logo-link-dark-theme{
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    /* identical to box height, or 133% */
    letter-spacing: 0.03em;
        color: var(--normal-color);
        text-transform: uppercase;

      
}
.logo-link-dark-theme .style{
    color: #F4F4FD;
}
.footer-text {
    width: 264px;
    margin-top: 16px;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
/* or 150% */

letter-spacing: 0.02em;

/* CORNFLOWER */

color: #E7E9FC;
}